Source: refing
Maintainer: Tomas Kyzlink <tkyzlink@dtitech.cz>
Section: admin
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 11), gnu-efi
Homepage: https://github.com/dtitech/refing

Package: refing
Architecture: amd64 arm64 i386
Depends: debconf, efibootmgr, gawk, gdisk, mokutil, openssl, ${misc:Depends}
Recommends: python3, sbsigntool
Description: boot manager for EFI-based computers
 A graphical boot manager for EFI- and UEFI-based computers, such as all
 Intel-based Macs and recent (most 2011 and later) PCs. rEFIng presents a
 boot menu showing all the EFI boot loaders on the EFI-accessible
 partitions, and optionally BIOS-bootable partitions on Macs and BIOS boot
 entries on UEFI PCs with CSMs. EFI-compatible OSes, including Linux,
 provide boot loaders that rEFIng can detect and launch. rEFIng can launch
 Linux EFI boot loaders such as ELILO, GRUB Legacy, GRUB 2, and 3.3.0 and
 later kernels with EFI stub support. EFI filesystem drivers for ext2/3/4fs,
 ReiserFS, Btrfs, NTFS, HFS+, and ISO-9660 enable rEFIng to read boot
 loaders from these filesystems, too. rEFIng's ability to detect boot
 loaders at runtime makes it very easy to use, particularly when paired with
 Linux kernels that provide EFI stub support.
